---
- hosts: local
  tasks:
    - name: load ssh key
      shell: |
        ssh-add ~/.ssh/github

- hosts: dev
  vars:
    project_path: /app
  tasks:
    - name: Clone the repository
      git:
        repo: "antanas@stanys.eu:{{pass | urlencode()}}@github.com:Stanys-dev/amsible-test.git"
        dest: "/
        "